.shailan-dropdown-menu {
  background: #ffffff;
}
.shailan-dropdown-menu ul.dropdown li a {
  padding: 5px 15px;
  // @include font-size(1.5);
  font-size: 2.4vmin;
  color: #222222;
}
.shailan-dropdown-menu ul.dropdown li a:hover {
  background-color: #ffffff;
  color: #777777;
}
.shailan-dropdown-menu ul.dropdown li ul {
  width: auto;
  background-color: #ffffff;
  border-radius: 4px;
}
.shailan-dropdown-menu ul.dropdown li.current_page_item > a,
.shailan-dropdown-menu ul.dropdown li.current-cat > a,
.shailan-dropdown-menu ul.dropdown li.current-cat > a:hover,
.shailan-dropdown-menu ul.dropdown li.current_page_item > a:hover {
  color: #555555;
  text-decoration: underline;
  text-decoration-color: #ededed;
  background: #ffffff;
}
