.main-navigation {
  background: #ffffff;
  font-family: $font__header;
  display: flex;
  flex-direction: row;
}

.main-navigation li {
  background: #ffffff;
}

.main-navigation div ul.menu li {
  a {
    padding: 5px 15px;
    @include font-size(1.5);
    color: #222222;
  }
  ul.sub-menu li a {
    @include font-size(1.2);
  }
}

.main-navigation div ul.menu li a:hover {
  background-color: #ffffff;
  color: #777777;
}
.main-navigation div ul.menu li ul {
  width: auto;
  background-color: #ffffff;
  border-radius: 4px;
}
.main-navigation div ul.menu li.current_page_item > a,
.main-navigation div ul.menu li.current-cat > a,
.main-navigation div ul.menu li.current-cat > a:hover,
.main-navigation div ul.menu li.current_page_item > a:hover {
  color: #555555;
  text-decoration: underline;
  text-decoration-color: #ededed;
  background: #ffffff;
}
#primary-menu {
  z-index: 999;
}
ul.menu li.menu-item-has-children > a:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 3px;
  width: 0;
  height: 0;
  border-top: 4px solid rgba(0, 0, 0, 0.5);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
ul.menu li.menu-item-has-children:hover > a:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 3px;
  width: 0;
  height: 0;
  border-top: 4px solid rgba(0, 0, 0, 0.5);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
ul.menu li li.menu-item-has-children > a:after {
  content: "";
  position: absolute;
  top: 40%;
  right: 1px;
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0.5);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
ul.menu li li.menu-item-has-children:hover > a:after {
  content: "";
  position: absolute;
  top: 40%;
  right: 1px;
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0.5);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
