h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $font__header;
}

h1 {
  @include font-size(1.5);
  // font-size: 2.7vmin;
  font-weight: bold;
}

h2 {
  // font-size: 2.4vmin;
  @include font-size(1.5);
  font-weight: normal;
}

h3 {
  // font-size: 1.85vmin;
  @include font-size(1.2);
  font-weight: bold;
}

h4 {
  // font-size: 1.85vmin;
  @include font-size(1.2);
  font-weight: normal;
}
